.header {
  display: flex;
  justify-content: space-between;
}
.icon {
  font-size: 2.5rem;
}
input.input-city {
  transition: all 0.1s ease-in;
  position: relative;
  margin: 1.5rem 0rem 0.4rem 0rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  padding: 0.8rem;
  width: 100%;
  background-color: #f7f7f9;
  &:focus {
    outline: none;
    background-color: white;
    border: 2px solid rgba(30, 85, 250, 0.47);
  }
}
.error-message {
  color: red;
  font-size: 0.8rem;
  margin-left: 1rem;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.icon-search {
  position: absolute;
  right: 0;
  padding: 0.5rem 0.9rem;
  bottom: 8%;
  border: 0px;
  font-size: 1.5rem;
  border-radius: 5px 20px 20px 5px;
  background-color: rgb(112, 198, 255);
  transition: all 0.3s ease;
  color: #ebebf3;
  &:hover {
    background-color: white;
    border: 0px solid rgb(112, 198, 255);
    color: rgb(112, 198, 255);
  }
}

.form {
  position: relative;
}
