#App {
  height: 100vh;
  width: 100%;
  background-color: #ebebf3;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.container-box {
  background-color: #f7f7f9;
  border-radius: 16px;
  width: 509px;
  height: 336px;
}

.toolbar {
  display: flex;
  flex-grow: 1;
}
